.tag {
    background-color: $color-primary;
    border-radius: 10px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    margin: 5px 5px;
    min-width: 131px;
    padding: 5px 17px;
    text-align: center;
    @media screen and (max-width: 800px) {
      font-size: 10px;
      width: 20%;
    }
    @media screen and (max-width: 425px) {
      width: 38%;
    }
  }