.about__page {
    width: 90%;
    margin: auto;
    @media screen and (max-width: 320px) {
        width: 100%;
    }
    
    &__section2 {
        width: 80%;
        margin: auto;
        margin-top: 3%;
        @media screen and (max-width: 800px) {
            width: 95%;
        }
    }
}