/* Montserrat */
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;800&display=swap');
@font-face {
  font-family: "Montserrat";
  src: url(../assets/font/Montserrat-Regular.ttf);
}

body {
  font-family: "Montserrat", sans-serif;
  color: #ff6060;
}



